// app global css

body, html, .box
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select -moz-none
  -o-user-select none
  user-select none

body, html

  // position: fixed !important;
  // top 0
  // bottom -48px


.bg
  background-attachment: fixed;
  position fixed !important
  top 0
  bottom 0
  left 0
  right 0
  z-index -1
  background url(../assets/bg.jpg) no-repeat center center fixed !important
  -webkit-background-size cover !important
  -moz-background-size cover !important
  -o-background-size cover !important
  background-size cover !important

  // padding-top constant(safe-area-inset-bottom)
  // padding-top env(safe-area-inset-bottom)



.q-layout
  overflow-y auto!important
  overflow-x hidden
  padding-top constant(safe-area-inset-top)
  padding-top env(safe-area-inset-top)
  // overflow: hidden !important;
  // height: 100%;



.q-layout-header
  .q-toolbar
    // padding-top constant(safe-area-inset-top)


.q-layout-footer
  .q-tab
    padding-bottom constant(safe-area-inset-bottom)
    /* Status bar height on iOS 11+ */
    padding-bottom env(safe-area-inset-bottom)


.q-layout-header, .q-toolbar
  border 0!important
  background rgba(255, 255, 255, 0)!important

.q-layout-header
  // padding-top constant(safe-area-inset-top)
  // padding-top env(safe-area-inset-top)

.q-list-header
  color #009688
