<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">

    <title>HomeyDash</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>statics/manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="HomeyDash">
    <link rel="apple-touch-startup-image" href="<%= htmlWebpackPlugin.files.publicPath %>statics/splash.png">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/apple-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#4f4f4f">

    <meta name="theme-color" content="#4f4f4f">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
      <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
      <% }}} %>
        <script>
          /**
* Small helper class to detect os
*/
          var Device = new(function () {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;
            // Windows Phone must come first because its UA also contains "Android"
            this.windows = /windows phone/i.test(userAgent)
            this.android = /android/i.test(userAgent)
            // iOS detection from: http://stackoverflow.com/a/9039885/177710
            this.ios = /iPad|iPhone|iPod/.test(userAgent) && !window.MSStream
          })();
          /**
* Execute any function with debounce of given wait amount
* @param  {number} wait       wait amount in miliseconds to bounce
* @param  {boolean} immediate true for immidate execution
*/
          function debounce(func, wait, immediate) {
            var timeout
            return function () {
              var context = this,
                args = arguments
              var later = function () {
                timeout = null
                if (!immediate)
                  func.apply(context, args)
              }
              var callNow = immediate && !timeout
              clearTimeout(timeout)
              timeout = setTimeout(later, wait)
              if (callNow)
                func.apply(context, args)
            }
          }
        </script>

        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function () {
            var u = "//homeydash.innocraft.cloud/";
            _paq.push([
              'setTrackerUrl', u + 'piwik.php'
            ]);
            _paq.push(['setSiteId', '1']);
            var d = document,
              g = d.createElement('script'),
              s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
          })();
        </script>
        <!-- End Matomo Code -->
      </head>
      <body>
        <noscript>
          This is your fallback content in case JavaScript fails to load.
        </noscript>
        <div id="q-app"></div>
        <!-- Todo: only include in production -->
        <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
        <!-- built files will be auto injected -->
        <!-- <script> if (Device.ios) { //need to add event after body created document.body.addEventListener('touchmove', function (e) { e.preventDefault() //magically helps click events to be more precise if (e.target) { debounce(function () {
        e.target.click() }, 300, true)() } }, false) var scrollingDiv = document.getElementById('layout'); scrollingDiv.addEventListener('touchmove', function (event) { event.stopPropagation(); }); } </script> -->

      </body>
    </html>
